nav {
    height: 50px ;
    background-color: black;
    width: 60%;
}
a {
    position: relative;
    top: 14px;
}

li {
    display: inline;
}

a:link {
color: white;
}
a:hover {
    color: tomato;
}
a:visited {
    color: aqua;
}
a:focus {
    color: brown;
}
p {
    text-align:left;
}
hr {
    width: 60%;
    margin:0px;
}
footer {
    background-color: black;
    color: white;
    width: 60% ;
    height: 50px ;
}
footer>ul>li{
    position: relative;
    top: 14px;
}
#promo {
    width:60%
}
header p {
    display: none;
}
#logo:after {
    content: "Tout le jardin!";
}
h2 p{
    color: blue;
}